@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

*{
    font-family: Poppins;
  cursor: none;
  .cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #f5f5f5;
    pointer-events: none;
    mix-blend-mode:difference;
    z-index: 999;
    transition: transform 0.2s;
  }
}
$primary-color: #fff;
$secondary-color: black;

body{
    background-color: $primary-color;
    margin: 0;
    padding: 0;
    .btn{
      cursor: grabbing;
    }
  
}
.nav-link{
  transition: all .8s;
  &:hover{
    text-decoration-line: underline;
    text-decoration-style: wavy;
  }
 
}
.bg-transparent{
    background: rgba( 255, 255, 255, 0.10 );
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 1px 3px rgba(124, 117, 117, 0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.text-black{
    color: $secondary-color;
}
.rounded-4{
    border-radius: 50px;
}
.social-icon{
    color: $secondary-color;
}

.heading{
    transition: all 2s;
    &:hover{
        text-decoration: underline;
    }
}
.bg-black{
    background-color: black;
}
.btn-primary-custom{
    background-color: $primary-color;
    color : $secondary-color;
    &:hover{
        color : $secondary-color;
    }
}
.btn-secondary-custom{
    background-color: $secondary-color;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover{  
    color:$primary-color;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    
}
.card-shadow{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
}
section{
padding: 10rem 0;
}

// ************* Cursor *************



.block__link {
  padding: .5em;
  text-decoration: none;
  transition: letter-spacing 200ms ease;
&:hover {
  letter-spacing: .1em;
}}
html{
  background: $primary-color
}