@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
* {
  font-family: Poppins;
  cursor: none;
}

* .cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f5f5f5;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 999;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

body .btn {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.nav-link {
  -webkit-transition: all .8s;
  transition: all .8s;
}

.nav-link:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
}

.bg-transparent {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  -webkit-box-shadow: 0 1px 3px rgba(124, 117, 117, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(124, 117, 117, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.text-black {
  color: black;
}

.rounded-4 {
  border-radius: 50px;
}

.social-icon {
  color: black;
}

.heading {
  -webkit-transition: all 2s;
  transition: all 2s;
}

.heading:hover {
  text-decoration: underline;
}

.bg-black {
  background-color: black;
}

.btn-primary-custom {
  background-color: #fff;
  color: black;
}

.btn-primary-custom:hover {
  color: black;
}

.btn-secondary-custom {
  background-color: black;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn-secondary-custom:hover {
  color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-shadow {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-shadow:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

section {
  padding: 10rem 0;
}

.block__link {
  padding: .5em;
  text-decoration: none;
  -webkit-transition: letter-spacing 200ms ease;
  transition: letter-spacing 200ms ease;
}

.block__link:hover {
  letter-spacing: .1em;
}

html {
  background: #fff;
}
/*# sourceMappingURL=style.css.map */