* {
    padding: 0;
    margin: 0;
  }
  
  body {

    width: 100vw;
  
    height: 100vh;
  
    overflow: hidden;
  
    display: flex;
  
    justify-content: center;
  
    align-items: center;
  
    background-image: linear-gradient(to bottom, rgb(148, 211, 240), rgb(73, 6, 73) );
  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* color: rgb(80, 3, 80); */
  
  }
  .container {
      position: relative;

      border-radius: 8px;

      background-color: rgba(255, 255, 255, 0.05);
      overflow: hidden;

      z-index: 10;
      backdrop-filter: blur(10px);
      box-shadow: 20px 30px 40px rgba(0, 0, 0, 0.2);
      /* border-top: rgba(255, 255, 255, 0.2);
      border-left: rgba(255, 255, 255, 0.2); */
      border: 3px solid black;
  }

  .container .calculator {
    position: relative;
    display: grid;
  
  } 
  .display {
  
    width: 100%;
  
    height: 80px;
  
    /* border: none; */
  
    box-sizing: border-box; 
    border: 3px solid black;
  
    padding: 10px;
  
    font-size: 20px;
    background: transparent;
   
    color: #fff;
  
    text-align: right;
  
   border-top-left-radius: 7px;
  
   border-top-right-radius: 7px;
  
  }
  
  .row {
  
    display: flex;
  
    justify-content: space-between;
  
  }

  
  button  {

    display: grid;
    
    place-items: center;
  
    width: 75px;
  
    height: 75px;

    font-weight: 300;

    cursor: pointer;
  
    font-size: 20px;

    border-top: rgba(255, 255, 255, 0.05);
    border-left: rgba(255, 255, 255, 0.05);
    background: transparent;

    color: rgb(77, 29, 29);
  
  }
  
  button:hover {
  
    cursor: pointer;
    transition: 0s;
    background: rgba(255, 255, 255, 0.40);
  
  }
  button:active{
      background: rgb(107, 11, 83);
      color: black;
      font-size: 20px;
      font-weight: 300;
  }
  
